/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Jun 19, 2018, 5:44:41 PM
    Author     : platar86
*/

.actDataPanel span:nth-child(1) {
    /*width: 40%;*/
    color: grey;
    font-variant: petite-caps;
    font-weight: lighter;
    order: 1;
}

.actDataPanel span:nth-child(2) {
    flex-basis: 50px;
    flex-grow: 1;
    text-align: right;
    margin-right: 5px;
    font-weight: bolder;
    color: #404040;
    order: 2;
}

.actDataPanel span:nth-child(3) {
    flex-basis: 40px;
    color: grey;
    font-variant: petite-caps;
    font-weight: lighter;
    order: 3;
}

.actDataContainer {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.actDataPanelCard {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 10px 0px 15px 14px;
    margin: 5px 5px;
    box-sizing: border-box;
    min-width: 310px;
    max-height: 350px;
    overflow: auto;
}

.actDataPanelCard>img {
    padding-right: 5px;
    padding-left: 5px;
    height: 25px;
    /*float: right;*/
}

.actDataPanelCard>label {
    font-weight: bold;
    font-size: large;
}

.actDataPanel {
    display: grid;
    grid-template-columns: auto 100px 40px;
}

.devSettControl {
    border: #e1e1e1;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}

.devSettControl>.dscLabel {
    text-align: right;
    float: right;
    margin-top: 10px;
    padding-right: 21px;
}

.dscSeparatorText {
    padding-top: 17px;
    display: block;
    /*font-size: medium;*/
    font-style: italic;
    color: #bebebe;
    margin-bottom: -5px;
}

.devSettControl>.dscValue {
    display: inline-block;
    float: right;
    padding-right: 20px;
    margin-top: 6px;
}

.devSettControl>.ui-inputswitch {
    padding-right: 0px !important;
    margin-right: 10px;
    margin-top: 12px;
}

.devSettControl>.dscValue>.ui-inputtext {
    width: 150px;
    text-align: right;
}

.devSettControl>.dscExec {
    display: inline-block;
    float: right;
    width: 45px;
    margin-top: 2px;
}

.devSettControl>.dscInfo {
    display: inline-block;
    width: 80%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    top: 1px;
    text-align: right;
    margin-left: -59px;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 860px) {
    .actDataPanelCard {
        min-width: 100% !important;
        width: 100%;
    }
    .ui-tabs-panel {
        padding-left: 0px;
        padding-right: 0px;
    }
    .devSettControl {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-end;
    }
    .devSettControl>.dscLabel {
        order: 1;
        margin-right: 15%;
        margin-bottom: -7px;
    }
    .devSettControl>.dscValue {
        order: 3;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        margin-top: -22px;
        width: 80%;
        text-align: right;
        margin-right: 15%;
    }
    .devSettControl>.dscValue>.ui-inputfield {
        width: 80%;
        text-align: right;
    }
    .devSettControl>.dscExec {
        order: 2;
    }
    .devSettControl>.dscInfo {
        order: 4;
        padding-bottom: 18px;
        text-align: right;
        margin-right: 6%;
    }
}

.devSettControl>.dscInfo {
    display: inline-block;
    width: 100%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    top: 1px;
}

.parControl {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    padding-bottom: 10px;
    margin: auto;
}

.parControl hr {
    margin-top: 0px;
    opacity: 0.4;
}

.parControl .ctrlLabel {
    display: block;
    width: 40%;
    float: left;
    padding-top: 10px;
    top: 5px;
    position: relative;
}

.parControl .ctrlValue.ui-spinner {
    padding-top: 6px;
    top: 4px;
}

.parControl .ctrlValue.ui-inputnumber {
    padding-top: 11px;
}

.parControl .ctrlValue.ui-selectonemenu {
    margin-top: 10px;
}

.parControl .ctrlValue {
    display: block;
    width: auto;
    float: right;
}

.parControl .ctrlExec {
    display: block;
    float: right;
    margin-left: 16px;
}

.parControl span.ctrlInfo {
    display: inline-block;
    width: 100%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    position: relative;
    top: 1px;
}

@media (max-width: 640px) {
    .parControl .ctrlLabel {
        display: block;
        width: 100%;
        margin: auto;
        text-align: left;
        padding-top: 0px;
        position: relative;
        top: 30px;
    }
    .parControl .ctrlValue.ui-spinner {
        /*        padding-top: 10px;
              margin-top: 10px;*/
    }
    .parControl .ctrlValue {
        display: block;
        width: auto;
        float: right;
    }
    .parControl .ctrlExec {
        display: block;
        float: right;
        margin-top: 0px;
    }
    .parControl span.ctrlInfo {
        display: inline-block;
        position: relative;
        width: 100%;
        top: 8px;
    }
}


/*      
      <div class="parControl">
          <span class="ctrlLabel">Min override cell voltage.</span>
          <p:menuButton  value="" class="ctrlExec"  icon="ui-icon-more-vert">
              <p:menuitem value="Save" icon="ui-icon-save" />
          </p:menuButton >
          <p:spinner class="ctrlValue" value="0" min="200" max="5500" stepFactor="1" />
  
          <span class="ctrlInfo">* some infoooo foof aosdf df sdf df.</span>
          <p:separator/>
      </div>
  */