/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Jun 19, 2018, 5:44:41 PM
    Author     : platar86
*/

.deviceViewWrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 180px auto;
}

.deviceViewWrapper .ui-panel-content {
    cursor: pointer;
    padding: 4px 5px!important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.deviceViewWrapper .deviceTableSelector {
    display: grid;
    grid-template: 45px 45px auto/50px 50px 60px;
    grid-template-areas: "img img statIcon" "img img alertIcon" "name name name";
    padding: 0px!important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.deviceViewWrapper .ui-panel-content-hover {
    background: #bdbdbd;
    /*-webkit-transform: rotateY(360deg);*/
    /*transform: rotateY(360deg);*/
}

.deviceViewWrapper .ui-panel-content-selectedDev {
    background: #ffc10750;
    /*                border: solid;
                    border-color: cyan;
                    border-width: thin;
                    -webkit-transform: scale(0.9);  Safari 
                    transform: scale(1.05);*/
}

.deviceViewWrapper .deviceTableSelector img {
    height: 80px;
    grid-area: img;
    padding-left: 10px;
}

.deviceViewWrapper .deviceTableSelector .subDevInfoCenter {
    grid-area: name;
    /*text-align: center;*/
}

.deviceViewWrapper .deviceTableSelector .devSelectorIcon {
    margin: auto;
    margin-right: 0px;
    display: flex;
    align-items: center;
}

.deviceViewWrapper .deviceTableSelector .devTopIconStat {
    grid-area: statIcon;
}

.deviceViewWrapper .deviceTableSelector .devTopIconAlert {
    grid-area: alertIcon;
    display: none;
    /*                    -webkit-transition: all 0.5s ;
                        -moz-transition: all 0.5s ;
                        -o-transition: all 0.5s ;
                        transition: all 0.5s ;*/
}

.deviceViewWrapper .deviceTableSelector .devTopIconAlert:hover {
    /*background: #bdbdbd;*/
    border-style: solid;
    border-color: #bdbdbd;
    border-radius: 5px;
    border-width: 1px;
}

.deviceViewWrapper .deviceTableSelector .devSelectorIcon i {
    font-size: 24px;
}

.deviceViewWrapper .deviceTableSelector .devTopIconSerial {
    margin: auto;
    font-size: small;
}

.deviceViewWrapper #mainTabView {
    height: 100%;
}

.alertDialogPanel {
    max-height: 590px;
}

.alertDialogPanel .alertDialogPanelElement {
    display: grid;
    grid-template: repeat(4, auto)/100px auto;
    grid-column-gap: 8px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: grey;
}

.alertDialogPanel .alertDialogPanelElement .alertTitle {
    text-align: right;
    color: grey;
}

.alertDialogPanel .alertBackground-WARNING {
    background-color: orange;
}

.alertDialogPanel .alertBackground-INFO {
    background-color: blue;
}

.alertDialogPanel .alertBackground-ERROR {
    background-color: red;
}

.devParamPanelWrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px 14px;
}

.devParamPanelWrapper .devParamPanel {
    display: grid;
    grid-template: auto auto auto/ auto 135px 40px 120px;
    justify-items: center;
    align-items: center;
    /*grid-row-gap: 8px;*/
    grid-auto-rows: 50px 20px;
    grid-template-areas: "topInfo topInfo topInfo topInfo" "label input unit control" "info info info info";
    border-bottom-style: solid;
    border-bottom-color: #e3e3e3;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.devParamPanelWrapper .devParamPanel .ctrlLabel {
    /*grid-row: ctrlStart;*/
    grid-area: label;
    justify-self: right;
    align-self: end;
    text-align: right;
}

.devParamPanelWrapper .devParamPanel .ctrlExec {
    grid-area: control;
    grid-column: 4;
    align-self: end;
}

.devParamPanelWrapper .devParamPanel .ctrlValue {
    grid-area: input;
    align-self: end;
    grid-column: 2;
    justify-self: right;
    text-align: right;
    text-align: right;
}

.devParamPanelWrapper .devParamPanel .ctrlValue input {
    text-align: right;
}

.devParamPanelWrapper .devParamPanel .ctrlUnit {
    grid-area: unit;
    align-self: end;
    grid-column: 3;
    justify-self: right;
}

.devParamPanelWrapper .devParamPanel .topInfo {
    grid-area: topInfo;
    font-size: small;
    justify-self: left;
}

.devParamPanelWrapper .devParamPanel .ctrlInfo {
    grid-area: info;
    font-size: small;
    /*font-style: oblique;*/
    color: grey;
    justify-self: right;
    padding-top: 5px;
}

.devParamPanelWrapper .dscSeparatorText {
    font-size: medium;
    text-align: right;
    font-weight: bold;
    border-bottom: solid;
    border-color: #b1b1b1;
    border-width: 0.5px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #212121;
}

.actDataContainer {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.actDataContainer .bmsEmInfoIcon {
    max-width: 320px;
    max-height: 320px;
    align-self: center;
    width: 100%;
}

.actDataContainer .customPanel {
    min-width: 230px;
}

.actDataPanelCard {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 10px 6px;
    margin: 5px 5px;
    box-sizing: border-box;
    min-width: 350px;
    max-height: 510px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.actDataPanelCard .header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-variant: petite-caps;
    margin: 10px 0px;
}

.actDataPanelCard .header-block img {
    max-width: 80px;
    max-height: 80px;
    margin: 0px 10px;
}

.actDataPanelCard .header-content {
    color: grey;
    font-variant: petite-caps;
    font-weight: lighter;
    align-self: center;
    font-size: large;
}

.actDataPanel {
    display: grid;
    grid-template-columns: auto auto 40px;
    border-bottom: solid;
    border-width: 0.02px;
    border-color: #e7e7e7;
    margin: 7px 0px;
}

.actDataPanel span:nth-child(1) {
    /*width: 40%;*/
    color: grey;
    font-variant: petite-caps;
    font-weight: lighter;
    order: 1;
}

.actDataPanel span:nth-child(2) {
    flex-basis: 50px;
    flex-grow: 1;
    text-align: right;
    margin-right: 5px;
    font-weight: bolder;
    color: #404040;
    order: 2;
}

.actDataPanel span:nth-child(3) {
    flex-basis: 40px;
    color: grey;
    font-variant: petite-caps;
    font-weight: lighter;
    order: 3;
}

.actDataPanelCard>img {
    padding-right: 5px;
    padding-left: 5px;
    height: 25px;
    /*float: right;*/
}

.actDataPanelCard>label {
    font-weight: bold;
    font-size: large;
}

.actDataPanelCard .linkItem:hover {
    background: #e0e0e0;
}

.actDataPanelCard .linkItem {
    color: #0008ff !important;
    text-decoration: underline;
    cursor: pointer;
}

.actDataPanelCard .actDataTablePanel {
    display: flex;
    flex-direction: column;
}

.actDataPanelCard .actDataTablePanel .actDataTableContent {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-row-gap: 4px;
}

.actDataPanelCard .actDataTablePanel .actDataTableHeader {
    font-weight: bold;
    color: grey;
    font-variant: all-petite-caps;
    font-size: large;
}

.uixSmd_progressBarWrapper {
    min-width: 380px;
}

.uixSmd_progressBarWrapper .uixSmd_progressBarFooter .uixSmd_progresBarMessage {
    border: 0.5px solid #cacaca;
    padding: 5px;
    font-size: large;
}

.uixSmd_progressBarWrapper .ui-progressbar {
    height: 25px;
}

.uixSmd_progressBarWrapper .ui-progressbar .ui-progressbar-value {
    height: 25px;
}

.uixSmd_progressBarWrapper .ui-progressbar .ui-progressbar-label {
    top: 3px;
}

.uisd-sticky-tabs .ui-tabs-nav[role="tablist"] {
    position: sticky;
    top: 50px;
    z-index: 500;
}

@media (max-width: 640px) {
    .deviceViewWrapper {
        display: grid;
        grid-column-gap: 0px;
        grid-template-columns: 100%;
    }
    .deviceViewWrapper .deviceTableSelector {
        display: grid;
        grid-template: auto/ 6fr 1fr 1fr;
        grid-template-areas: "name statIcon statIcon";
        cursor: pointer;
    }
    .deviceViewWrapper .deviceTableSelector img {
        display: none;
    }
    .deviceViewWrapper .deviceTableSelector .devTopIconSerial {
        font-size: large;
    }
    .devParamPanelWrapper .devParamPanel {
        grid-template: auto auto auto auto/ auto 135px 40px 40px;
        grid-template-areas: "topInfo topInfo topInfo topInfo" "label label label label" "input input unit control" "info info info info";
        padding-top: 20px;
    }
    .devParamPanelWrapper .devParamPanel .ctrlLabel {
        justify-self: left;
    }
    .devParamPanelWrapper .devParamPanel .ctrlInfo {
        text-align: right;
    }
}