/*#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 501;
    opacity: 0;
    pointer-events: none;

}

:host([opened]) #backdrop,
:host([opened]) #modal {
    opacity: 1;
    pointer-events: all;
    transition: all 200ms;
}

:host([opened]) #modal {
    top: 30vh;
}

#modal {
    position: fixed;
    top: 10vh;
    left: 35%;
    width: 30%;
    z-index: 502;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#main {
    display: flex;
    justify-content: center;
    padding: 1rem;
    min-height: fit-content;
}

#actions {
    border-top: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: flex;
    justify-content: center;
}

.alertDialogPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

*/
