.wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    /*border-bottom: 1px solid grey;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tab-tab-area{
    width: 100%;
    height: auto;
    background-color: white;
    /*border-bottom: 1px solid grey;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab-page{
/*    width: 100%;
    height: auto;
    background-color: white;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;*/
}

.tab {
    width: max-content;
    min-width: 35px;
    padding: 0.5rem;
    margin: 0.2rem;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.tab:hover {
    /* border-bottom: 2px solid lightgrey; */
    transition: all ease-in 0.2s;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid rgb(255, 0, 85);
    /* transition: height ease-in 0.4s; */
}

.tab-content {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: lightslategrey;
}

.selected span {
    color: mediumblue;
}

.device-alert-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    /*max-height: 30vh;*/
    overflow-y: auto;
}

.alert-detail-content{
    /*text-align: center;*/
}

.hidden{
    display: none;
}

.visible{
    display: flex;
}

.alert-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}