button {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    border: 1px solid #cccccc;
    color: rgb(49, 49, 49);
    /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);*/
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    height: fit-content;
    width: fit-content;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    min-width: 80px;
    margin: 5px;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: rgba(127, 127, 127, 0.2);
    transition: all 80ms ease-in;
}

button:disabled {
    color: rgb(141, 141, 141);
}

button:disabled:hover {
    cursor: default;
}

button:active {
    outline: none;
    border: none;
    /*box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);*/
}

button:focus {
    outline: none;
}

.warning--button {
    border-color: rgb(128, 115, 2);
    background: rgb(255, 230, 0);
    color: rgb(49, 49, 49);
}

.danger--button {
    background: rgb(255, 0, 0);
    color: whitesmoke;
}

.secondary--button {
    background: rgb(63, 63, 63);
    color: whitesmoke;
}

.primary--button {
    background: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
}

.small--button{
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666666;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    margin: 2px;
}