.smdui-dialog-wrapper {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /*width: 400px;*/
    /*min-height: fit-content;*/
    max-height: 50%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    z-index: 501;
    opacity: 0;
    top: 20%;
    /*left: 20%;*/
}

.smdui-dialog-wrapper-active {
    z-index:502;
}

.smdui-dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    background: rgb(235, 234, 234);
}

.smdui-dialog-wrapper.open {
    pointer-events: all;
    opacity: 1;
}

.smdui-dialog-content {
    display: flex;
    flex-direction: column;
    min-height: 20px;
    overflow-y: auto;
}

.smdui-dialog-close-button {
    margin-inline-start: auto;
    padding: 5px;
    color: gray;
}

.smdui-dialog-close-button:hover {
    cursor: pointer;
}

.smdui-dialog-heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-variant: petite-caps;
    font-weight: bold;
    font-size: 20px;
    pointer-events: none;
}

@media (max-width: 640px){
    .smdui-dialog-wrapper {
        height: 30%;
    }
}